h1{
    color: green;
}
.red{
    color: red;
}
.star{
    width: 20px;
}
.recent_review{
    border: 1px solid black;
   
}
.reviews{
    width: 20%;
    display: inline-block;
}
.footer{
    display: block;
}
.other_reviews{
   
    background: linear-gradient(lightslategray, lightskyblue);
    width: 20%;
    display: inline-block;
    vertical-align: top;
    
    
}
.review_box{
    overflow: scroll;
    background: linear-gradient(lightslategray, lightskyblue);
    height: 200px;
    padding: 20px;
}
.title_list{
    display: block;
    text-decoration: none;

}
.reviewer{
    font-size: 11px;
}
.logout{
    background-color: lightblue;
    display: inline-block;
    border: 1px solid lightgreen;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 5px slategrey;
}
.user_review{
    background: linear-gradient(lavender, lightpink);
    border: 1px solid linen;
    border-radius: 10px;
    width: 20%;
    padding: 15px; 
}