<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Reviews</title>
</head>
<body>
    <h1>Book Reviews</h1>
        <h2>{{title}}</h2>
        <h4>By: {{author}}</h4>
        <p>{{review}}</p>
        <p class = "reviewer" >Reviewer: <a href="/user_display">{{reviewer}}</a></p>
        
        <p>Rating:
            {% for star in stars %}
                <img class ="star" src="{% static '/images/full.png' %}" alt="full">
            {% endfor %}
            {% for star in blank_stars %}
                <img class ="star" src="{% static '/images/blank.png' %}" alt="blank">
            {% endfor %}
           
        </p>
        <a href="/books">Go Back</a>
</body>
</html>