<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Books</title>
</head>
<body>
    <h2>Whaddup {{name}}</h2>
    
    <div class="reviews">
        <h3>Recent Book Reviews:</h3>
        <a class = "logout" href="/add_book">Add Book and Review</a>
        
            {% for review in three_reviews %}

                <div class = "recent_review">
                    <p>Title:<a href="/review/{{review.id}}">{{review.title}}</a></p>
                    <p>Author: {{review.author}}</p>
                    <p>Rating: 
                        {% for i in rating %}
                            {% if i <= review.rating %}
                                <img class ="star" src="{% static 'images/full.png' %}" alt="full">
                            {% endif %}
                            {% if i > review.rating %}
                                <img class ="star" src="{% static 'images/blank.png' %}" alt="">
                            {% endif %}
                        {% endfor %}  
                    </p>
                    <p>Reviewer:
                        {{review.book_reviewers.first.name}}
                    </p>
                </div>
                
            {% endfor %}
            
        
    </div>
    <div class = "other_reviews">
        <h3>All Books With Reviews</h3>
            <div class = "review_box">
            {% for review in all_reviews %}
                <a class = "title_list" href="/review/{{review.id}}">-- {{review.title}}</a>
            {% endfor %}
            </div>
        </div>
    <div class="footer">
        <!-- <a class ="red" href="/dump_books">Dump All Books and Reviews</a> -->
        <a class = "logout" href="/logout">Logout</a>
    </div>
</body>
</html>