<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>User</title>
</head>
<body>
    <h1>{{name}}</h1>
    <h2>Reviews:</h2>
    {% for review in reviews %}
        <div class="user_review">
            <a class = "title_list" href="/review/{{review.id}}">{{review.title}}</a>
                    {% for i in rating %}
                        {% if i <= review.rating %}
                            <img class ="star" src="{% static 'images/full.png' %}" alt="full">
                        {% endif %}
                        {% if i > review.rating %}
                            <img class ="star" src="{% static 'images/blank.png' %}" alt="">
                        {% endif %}
                    {% endfor %}
        </div>  
    {% endfor %}
    <a class = "logout" href="/logout">Logout</a>
</body>
</html>