<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>User</title>
</head>
<body>
    <h1>{{name}}</h1>
    <h2>Reviews:</h2>
    {% for review in reviews %}
       <a class = "title_list" href="/review/{{review.id}}">{{review.title}}</a>
    {% endfor %}
    <a class = "logout" href="/logout">Logout</a>
</body>
</html>